/* Boton Carrito */


.botonAzul{
  text-align:center;
  text-decoration: none;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  display:inline-block;
  color: #FFF;
  background: #b2e5e9;
 /* padding: 10px 30px;*/
  white-space: nowrap;
  margin: 10px 5px;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.botonAzul{
background: #3498DB;
}
  
.botonAzul:hover{
background: #2980B9;
}

.botonPrincipal{
  text-align:center;
  text-decoration: none;
font-family: 'Helvetica Neue', Helvetica, sans-serif;
display:inline-block;
  color: #FFF;
  background: #7F8C8D;
  padding: 2px 5px;
  white-space: nowrap;
  margin: 10px 5px;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.botonPrincipal{
  background: #2ECC71;
}

.botonPrincipal:hover{
  background: #27AE60;
}