.text{
  align-items: center;
  text-align: center!important;
  font-family: 'Lobster', cursive;
  
}
.giphy-embed{
  align-items: center;
  text-align: center!important;
  margin-left:41%;

}

.volver{
display:flex;
flex-direction: row;
align-items: center;
text-align: center!important;
text-decoration: none !important;
color: #000;
font-size: 20px;
font-family: 'Lobster', cursive;
margin-left:40%;
margin-top:5%;
}

