.carrito{
  font-family: 'Trispace', sans-serif;
  justify-content: center;
  margin-left: 30%;
}

.carritoItems{
  font-family:  'Rubik Moonrocks', cursive; 
  font-size: 1rem;
  padding: 5px;
}   


.itemComplet{
  font-family:  'Rubik Moonrocks', cursive; 
  font-size: 1.5rem;
  padding: 5px;
}

.label{
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
  
}

.input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.complet{
  margin-left: 1rem;
}