.carrito{
  font-family: 'Trispace', sans-serif;
  justify-content: center;
  margin-left: 30%;
}

.carritoItems{
  font-family:  'Rubik Moonrocks', cursive; 
  font-size: 1rem;
  padding: 5px;
}   

