
/*CartIcon*/
.carrito{
    width: 300px;
    height: 200px;

}

/*ItemListContainer */
.ItemList{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    color: #D358F7;
    
}

/* Footer */
.footerList{
    text-decoration: none;
    list-style: none;
}

.footerLi{
    text-decoration: none;
    list-style: none;
    color: #5882FA;
}