
/*CartIcon*/
.carrito{
    width: 300px;
    height: 200px;

}


/* Footer */
.footerList{
    text-decoration: none;
    list-style: none;
}

.footerLi{
    text-decoration: none;
    list-style: none;
}